body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;

}
.navbar ul {
    list-style-type: none;
    background-color: hsl(17, 68%, 44%);
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;

}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(17, 68%, 34%);
}
.hero {
    position: relative;
    height: 100vh;
    background-image: url("images/BalatonHomePage.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 150px;

    text-align: center;
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    max-width: 600px;
}
.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn.primary {
    background-color: #dbad81;
    color: black;
}

.btn.secondary {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}


